/* Root Variables */
:root {
  --back-color: #292929;
  --green-color: #0fa90f;
  --light-green-color: #12dd12;
  --gray-color: rgb(206, 206, 206);
  --white-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--back-color);
  color: var(--white-color);
  font-family: Geneva, "MS Sans Serif", sans-serif;
}

body::-webkit-scrollbar {
  background-color: rgb(14, 14, 14);
}
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(87, 87, 87);
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Start Screen */
.startScreen {
  padding-bottom: 20px;
  height: calc(100vh - 120px);
}

.startScreen h2,
.startScreen h1 {
  position: relative;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  animation: renderIntroduction 2.5s ease;
  z-index: 2;
}

.startScreen h2 {
  color: green;
  font-size: 200%;
}

.startScreen h1 {
  color: var(--white-color);
  font-size: 200%;
  transform: translateY(-50%);
}

@keyframes renderIntroduction {
  0% {
    top: -10%;
  }
  35% {
    top: 43%;
  }
  60% {
    top: 0;
  }
}

/* Links */
.links {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: renderIcons 3s ease;
  z-index: 3;
}

.links a {
  color: transparent;
}

.links img, .links object {
  border-radius: 50%;
}

.links img:hover, .links object:hover {
  filter: brightness(80%);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

@keyframes renderIcons {
  0%,
  30% {
    top: 50%;
    opacity: 0;
  }
  60% {
    top: 50%;
    opacity: 1;
  }
  100% {
    top: 150px;
  }
}

/* Terminal */
.terminal {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: max(450px, 60%);
  max-width: 95vw;
  width: max(700px, 60%);
  background-color: black;
  border-radius: 27px;
  animation: renderterminal 2s ease;
  transition:
    transform 0.5s,
    opacity 0.2s ease;
}

.crown {
  background-color: rgb(24, 24, 24);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 50px;
}

.crown div {
  position: relative;
  top: 20px;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  display: inline-block;
  left: 18px;
}

.terminalText {
  margin: 7px 5px 0 10px;
  height: calc(100% - 60px);
  overflow: auto;
  font-family: "Courier New", Courier, monospace;
}

.terminalText p {
  color: var(--light-green-color);
  overflow: visible;
  white-space: nowrap;
  line-height: 24px;
}

.terminalText::-webkit-scrollbar {
  background-color: rgb(5, 5, 5);
}
.terminalText::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(70, 70, 70);
}

@keyframes renderterminal {
  0% {
    top: -100vh;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

/* Projects Section */
.selection-projects {
  position: relative;
  bottom: 40px;
}

.selection-projects h2 {
  font-size: 40px;
  color: #74d274;
  text-align: center;
  padding-bottom: 100px;
  font-family: Geneva, "MS Sans Serif", sans-serif;
}

.projects-block {
  opacity: 0;
  transform: translateY(50px);
  transition:
    transform 0.5s,
    opacity 0.5s;
}

.text-projects-block {
  border: 2px solid var(--gray-color);
  border-radius: 20px;
  width: calc(50vw - 25px);
  max-width: 500px;
  margin-right: calc(50% + 14px);
  margin-left: auto;
  position: relative;
  background-color: var(--back-color);
}

.timelineArrow,
.timelineArrowAfter {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  margin-top: -15px;
}

.timelineArrow {
  border: 15px solid transparent;
  border-left-color: var(--gray-color);
  left: 100%;
}

.timelineArrowAfter {
  border: 13px solid transparent;
  border-left-color: var(--back-color);
  left: 100%;
}

.timelinePoint {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--green-color);
  border: 5px solid var(--light-green-color);
  border-radius: 100%;
  left: 100%;
  top: 50%;
  margin-top: -20px;
}

.projects-block h3 {
  text-align: center;
  color: var(--white-color);
  font-size: 43px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects-img {
  max-width: 500px;
  border-radius: 20px;
  position: absolute;
  left: calc(50% + 30px);
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid var(--gray-color);
  width: calc(50vw - 30px);
}

@media (hover: hover) {
  .projects-block:hover .text-projects-block {
    border-color: rgb(236, 236, 236);
  }
  .projects-block:hover .timelineArrow {
    border-left-color: rgb(236, 236, 236);
  }
}

/* Online Demos Section */
.selection-pages {
  opacity: 0;
  transform: translateY(50px);
  transition: 1s;
}

.selection-pages h2 {
  font-size: 40px;
  color: #74d274;
  text-align: center;
  padding-bottom: 20px;
  font-family: Geneva, "MS Sans Serif", sans-serif;
}

.selection-pages-link {
  position: relative;
  left: 50%;
  margin-bottom: 10px;
  display: inline-block;
  border: 2px solid var(--white-color);
  border-radius: 25px;
  background-color: transparent;
  color: var(--white-color);
  text-align: center;
  width: max(40%, 250px);
  max-width: 90vw;
  padding: 12px;
  font-size: 20px;
  transform: translateX(-50%);
}

.selection-pages-link:hover {
  border-color: rgb(212, 212, 212);
  color: rgb(212, 212, 212);
}

/* Utility Classes */
.opened-block {
  opacity: 1;
  transform: translateY(0);
}

.ProjectMiddleLine {
  background-color: var(--green-color);
  border-radius: 5px;
  border: 2px solid #15cf15;
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 10px;
  left: 50%;
}

.lang-ru {
  display: none;
}
