:root {
  --back-color: #292929;
  --green-color: #0fa90f;
  --light-green-color: #12dd12;
  --gray-color: rgb(206, 206, 206);
  --white-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--back-color);
  color: var(--white-color);
  font-family: Geneva, "MS Sans Serif", sans-serif;
}

h2,
h1 {
  position: relative;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  animation: headers 2s forwards;
  animation-delay: 1.5s;
  opacity: 0;
  z-index: 2;
}

h2 {
  color: green;
  font-size: 200%;
  height: 20px;
}

h1 {
  color: var(--white-color);
  font-size: 200%;
  margin: 0;
}

@keyframes headers {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.links {
  position: relative;
  animation: renderLinks 3s forwards;
  animation-delay: 2.8s;
  opacity: 0;
  z-index: 3;
  text-align: center;
}

.links a {
  color: transparent;
}

.links img,
.links object {
  border-radius: 50%;
}

.links img:hover,
.links object:hover {
  filter: brightness(80%);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

@keyframes renderLinks {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.terminal {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-height: 450px;
  max-width: 95vw;
  width: max(700px, 60%);
  background-color: black;
  border-radius: 27px;
  margin-top: 10px;
  transition:
    transform 0.5s,
    opacity 0.2s ease;
  animation: macos-appear 1s cubic-bezier(0.5, 0.1, 0.25, 1) forwards;
}

@keyframes macos-appear {
  from {
    opacity: 0;
    transform: translateX(-50%) scale(0.1);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

.crown {
  background-color: rgb(24, 24, 24);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 50px;
}

.crown div {
  position: relative;
  top: 20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  left: 18px;
  margin-right: 3px;
}

.terminalText {
  margin: 7px 5px 0 10px;
  height: max-content;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Courier New", Courier, monospace;
}

.terminalText p {
  color: var(--light-green-color);
  overflow: visible;
  white-space: nowrap;
  line-height: 5px;
  animation: visible 0.3s forwards;
  animation-delay: calc(0.4s * var(--i) + 0.1s);
  visibility: hidden;
}

@keyframes visible {
  to {
    visibility: visible;
  }
}

.typing {
  --time: 0.4s;
  display: inline-block;
  overflow-x: clip;
  width: 0;
  animation: typing var(--time) steps(var(--chars)) forwards;
  animation-delay: calc(0.4s * var(--i) + 0.1s);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: calc(var(--chars) * 1ch);
  }
}

.ls-out {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch 2ch;
}

.ls-out a {
  padding: 0.1em 0.3em;
  line-height: 1;
  color: var(--light-green-color);
}

@media (hover: hover) {
  .ls-out a:hover {
    background-color: var(--light-green-color);
    color: black;
  }
}
