name: Prettier Format

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install npm v8
        run: npm i -g npm@8

      - name: Prettify code
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: . --write
          commit_message: "style: apply prettier-format [bot]"
