name: Prettier Format

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18
          check-latest: true

      - name: Checkout
        uses: actions/checkout@v6

      - name: Prettify code
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: . --write
          commit_message: "style: apply prettier-format [bot]"
